<mat-toolbar color="primary">
  VerifyToolTest
  
  <span fxFlex="grow"></span>
  <div *ngIf="afAuth.authState | async as User; else loading "> 
  Welcome {{User.uid}}!    
  </div>
  <button mat-icon-button>    
    <fa-icon *ngIf="loggedin === false || loggedin === undefined " (click)="tutorialService.login()"
        class="fas faSignInAlt fa-lg" [icon]="['fas', 'sign-in-alt']"></fa-icon> <!--signup-->
    <fa-icon *ngIf="loggedin === true" (click)="tutorialService.logout()" class="fas faSignOutAlt fa-lg"
        [icon]="['fas', 'sign-out-alt']"></fa-icon>
  </button>
</mat-toolbar>
<h1>
  loggedin var:{{loggedin}}
 <!--
   {{afAuth.authState | async | json }}>
 --> 
</h1>

<h1>


</h1>
<ng-template #loading>
  <div *ngIf ="loggedinObs | async as nguserstatus ">

    <div *ngIf= "nguserstatus !== null">
    
    loggedout !null
    </div>
    <div *ngIf= "nguserstatus === null">
    
    loggedOut==null
    </div>
    </div>
  loggedin var:{{loggedin}}
<mat-spinner *ngIf="loggedin === undefined" >


</mat-spinner>
</ng-template>